body {
   
  background-image: url("/images/maristimage.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#splash_title {
	width: 100%;
  font-size: 100px;
  color: red;
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgba(255, 255, 255);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu_button {
	background-color: rgba(255, 0, 0, 0.5);
    font-size: 28px;
    color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
